body {
	background-color: #FFCC66;
}


/*THE TABLE INSIDE SECTIONS*/
/*Table Spaces*/
.two.columns.offset-by-one.column {
	border-color: #FFB739;
    border-radius: .5em;
    border-style: solid;
    border-width: .1em;
    color: #FFFFFF;
    font-size: 3.5em;
    height: 1.5em;
    position: relative;
	text-align: center;
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
    top: .5em;
    width: 2em;
}

.two.columns.offset-by-one.column:hover {
    background-color: darkorange;
    border-color: #FFB739;
    border-style: solid;
    color: #FFFFFF;
    cursor: pointer;
    opacity: .6;
    text-align: center;
}


/*THE TABLE LAYOUT*/
/*Table Vertical Lines*/
.column.vertical {
	border-collapse: collapse;
    text-align: center;
    color: #336699;
    background-color: #336699;
    border-radius: 1em;
    position: relative;
    left: 2%;
    height: 8em;
    width: 2%;
}

/*Table Horizontal Lines*/
.three.columns.horizontal{
	text-align: center;
    color: #FFB739;
    background-color: #FFB739;
    border-radius: 1em;
    height: 1.2em;
    width: 52em;
    margin: 1%;
}

/*Header Header*/
.twelve.columns.offset-by-one.column h4 {
	font-size: 3.4em;
	font-weight: bold;
	color: #003366;
	position: relative;
	right: 15%;
}

/*Header Sub-Header*/
.twelve.columns.offset-by-one.column p {
	font-size: 1em;
	color: #003366;
	position: relative;
	right: 10%;
}

/*Tracker Header*/
.eleven.columns.offset-by-one.column h4 {
	font-size: 1.6em;
	color: #003366;
}

/*Tracker Content*/
.eleven.columns.offset-by-one.column ul li  {
	font-size: 1.3em;
	list-style-type: none;
    margin: 0;
    padding: .5em;
    display: inline;
    color: #336699;
    position: relative;
    left: 5%;
}

#clearBtn {
    height: 3em;
    width: 10em;
    text-align: center;
    display: inline-block;
}